<!DOCTYPE html>
<html lang="de">
<head>
	<meta charset="UTF-8"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<title>KBW Smart Box</title>
	{% load static %}
	<style type="text/css">
		* {font-family:Arial,Helvetica,sans-serif;font-size:1em;}
		a {
			cursor:pointer;padding:8px;
			border-radius:0.5em;border:1px solid gray;
			color:white;background-color:#00ADEF;
			text-decoration:none;text-align:center;
			box-shadow: 1px 1px 5px #000;
		}
		a:hover{filter:brightness(110%);border:1px solid white;}
	</style>
	<script>
		function sendData(Nr, Tat, Wert) {
			let formData = new FormData();
			formData.set('csrfmiddlewaretoken', "{{ csrf_token }}");
			formData.set('Nr', Nr);
			formData.set('Tat', Tat);
			formData.set('Wert', Wert);
			fetch('/', { method: 'POST', body: formData });
		}
	</script>
</head>
<body style="display:grid;gap:8px;grid:auto/auto 1fr;">
	<div style="display:grid;gap:8px;grid:auto/auto;">
		<img src="{% static 'logo.png' %}">
		<a href="/">Tasks</a>
		<a href="/settings">Settings</a>
	</div>
	<div style="display:grid;gap:8px;grid:auto/auto;text-align:center;align-items:center;border:1px solid gray;">
		<div style="font-size:2em;">Aufgabenmanagement</div>
		<div style="display:grid;gap:8px;grid:auto/4em 4em auto 8em 12.5em;align-items:center;">
			<div>N</div>
			<div>Aktiv</div>
			<div>Job-Name</div>
			<div>Periode, s</div>
			<a href="/add" style="background-color:#2b4;">add job</a>
		</div>
		<div style="display:grid;gap:8px;grid:2.2em/4em 4em auto 8em 6em 6em;grid-auto-rows:2.2em;">
			{% for row in all_items %}
			<div style="padding:8px;" {{ forloop.counter }}>1</div>
			<input type="checkbox" onchange="sendData({{row.id}},'Berechtigen',this.checked);"
			{% if row.Berechtigen == True %}
				checked
			{% endif %}
			>
			<input type="text" data-ms-editor="true" spellcheck="false" onchange="sendData({{row.id}},'Name',this.value);" value="{{row.Name}}">
			<input type="number" min="1" step="1" onchange="sendData({{row.id}},'Periode',this.value);" value="{{row.Periode}}">
			<a href="edit?Nr={{row.id}}">edit</a>
			<a href="del?Nr={{row.id}}" style="background-color:#d35;">X</a>
			{% endfor %}
		</div>
	</div>
</body>
</html>