<!DOCTYPE html>
<html lang="de">
<head>
	<meta charset="UTF-8"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<title>KBW Smart Box</title>
	{% load static %}
	<style type="text/css">
		* {font-family:Arial,Helvetica,sans-serif;font-size:1em;}
		a {
			cursor:pointer;padding:8px;
			border-radius:0.5em;border:1px solid gray;
			color:white;background-color:#00ADEF;
			text-decoration:none;text-align:center;
			box-shadow: 1px 1px 5px #000;
		}
		a:hover{filter:brightness(110%);border:1px solid white;}
	</style>
</head>
<body style="display:grid;gap:8px;grid:auto/auto 1fr;min-height:90vh;">
	<div style="display:grid;gap:8px;grid:auto auto auto 1fr/auto;">
		<img src="{% static 'logo.png' %}">
		<a href="/">Tasks</a>
		<a href="/settings">Settings</a>
		<br/>
	</div>
	<form action="/settings" method="POST" style="display:grid;gap:8px;grid:auto 1fr/1fr;">
		<div style="display:grid;gap:8px;grid:auto/1fr 6em 6em;">
			<div style="padding:8px;background-color:#7B7979;color:white;">Settings.yaml</div>
			<span style="display:none;">{% csrf_token %}</span>
			<a style="background-color:#d35;" href="/settings">Cancel</a>
			<a style="background-color:#2b4;" onclick="submit();">Save</a>
		</div>
		<textarea name="Einstellungen" autofocus data-ms-editor="true" spellcheck="false" maxlength="65000"
			style="height:100%;width:99%;border:1px solid #7B7979;">{{Einstellungen}}</textarea>
	</form>
	<script>
		window.onload = function() {
			let textarea = document.querySelector('textarea');
			textarea.rows = Math.max(1, textarea.value.split('\n').length);
		}
		document.querySelector('textarea').addEventListener('input', function() {
			this.style.height = 'auto';
			this.style.height = this.scrollHeight + 'px';
		}, false);
	</script>
</body>
</html>